.heading {
    color:rgb(90, 90, 233);
}

.portfolio .projects-container{
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    align-items:center;
    gap: 2.5rem;

};

.projects-container .project-box {
      position: relative;
      display:flex;
      border-radius: 2rem;
      box-shadow:0 0 1rem rgba (0, 0, 0, .1);
      overflow: hidden;

}